<div class="row">
<div class="medium-6 columns">
<h3>CALL FOR A CONSULTATION</h3>
<h4> FEEDBACK QUESTIONS COMMENTS</h4>
<p>If you have any questions about the services we provide please call or email us.  Feel free to use the form on this page to send us an email.  Don't forget to include your correct email and phone number so that we can contact you.  If you love your renovation and want others to know, please send us your feedback!</p>
<ul class="menu">
<a href="tel:+1-973-951-5570" class="button large">1-973-951-5570</a>
<a href="mailto:cmsuby@gmail.com" class="button large hollow">cmsuby@gmail.com</a>

</ul>
</div>
<div class="medium-6 columns">

<%= render "contacts/new" %>


</div>