<div>DESIGN &amp; RENOVATION</div>

<ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title">A typical work day</a>
          <div class="accordion-content" data-tab-content>




          </div>
        </li>
      </ul>

<ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Kitchen</a></li>
        <li class="tabs-title"><a href="#panel2">Bathroom</a></li>
        <li class="tabs-title"><a href="#panel3">Home Office</a></li>
        <li class="tabs-title"><a href="#panel4">Cabinetry</a></li>
        <li class="tabs-title"><a href="#panel5">Home Office</a></li>
        <li class="tabs-title"><a href="#panel6">Installation</a></li>
      </ul>