<!-- <div>DESIGN &amp; RENOVATION</div>
 -->
<ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Kitchen</a></li>
        <li class="tabs-title"><a href="#panel2">Bathroom</a></li>
        <li class="tabs-title"><a href="#panel3">Home Office</a></li>
        <li class="tabs-title"><a href="#panel4">Cabinetry</a></li>
        <li class="tabs-title"><a href="#panel6">Installation</a></li>
      </ul>