<h2 class= "text-center">Home Improvement. Interior Design.</h2>

<div class="row">
<div class="large-12 columns">
<!-- <div class="row">
<div class="large-12 hide-for-small"> -->
<div id="featured" data-orbit>
<img src="/images/banner_slide_1.png">
<img src="/images/banner_slide_2.png">
<img src="/images/banner_slide_3.png">
<img src="/images/banner_slide_4.png">
<img src="/images/banner_slide_5.png">
<img src="/images/banner_slide_6.png">
<img src="/images/banner_slide_7.png">

</div>
<!-- </div>
</div> -->

<hr>

<div class="row">
<div class="large-4 columns">
<img src="/images/main_intro_1.png">
<h4>DESIGNING LIFESTYLES....</h4>
<p>At CM Suby, we understand that we're not just designing spaces, we are helping build and design lifestyles.</p>
</div>
<div class="large-4 columns">
<img src="/images/main_intro_2.png">
<h4>We are an Insured and Licensed New Jersey Contractor.</h4>
<p>Take comfort in knowing that a professional contractor with full credentials and years of experience is taking care of your home.</p>
</div>
<div class="large-4 columns">
<img src="/images/main_intro_3.png">
<h4>A quality finish requires a thorough process.</h4>
<p>We renovate, design and remodel kitchens, bathrooms, as well as total interiors for homes, townhomes and condominiums.  Click to find out more about how we do it!</p>
</div>
</div>

<hr>

<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" src="/images/profile_shot.jpg">

</div>
<div class="medium-6 columns medium-pull-6">
<h2>A Quality Renovation Starts with a Reliable Contractor...</h2>
<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>
</div>
</div>

<hr>

<div class="row">
  <div class="large-8 columns">
    <div class="panel radius">
      <div class="row">
        <div class="large-8 columns">
          <h4>Check out our Instagram!</h4>
            <script src="http://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="http://snapwidget.com/in/?u=Y21zdWJ5fGlufDEyNXwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=140216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>
      </div>
  </div>
</div>

<strong class="hide-for-large-up"><hr></strong>

<div class="large-4 columns">
  <h4>Communicate with Us!</h4>
    <a href="tel:+1-973-951-5570" class="button large">Call Now</a>
    <%= link_to "Write", contact_path, class: "button large" %>

</div>

<hr>

