<div class="orbit" role="region" aria-label="renovations sample" data-orbit>
<ul class="orbit-container">
<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
<li class="orbit-slide is-active">
<img src="/assets/banner_slide_1.png">
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_2.png">
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_3.png">
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_4.png">
</li>
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_5.png">
</li>
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_6.png">
</li>
</li>
<li class="orbit-slide">
<img src="/assets/banner_slide_7.png">
</li>
</ul>
</div>

<hr>

<div class="row">
<div class="large-4 columns">
<img src="/assets/main_intro_1.png">
<h4>DESIGNING LIFESTYLES....</h4>
<p>At CM Suby, we understand that we're not just designing spaces, we are helping build and design lifestyles.</p>
</div>
<div class="large-4 columns">
<img src="/assets/main_intro_2.png">
<h4>We are an Insured and Licensed New Jersey Contractor.</h4>
<p>Take comfort in knowing that a professional contractor with full credentials and years of experience is taking care of your home.</p>
</div>
<div class="large-4 columns">
<img src="/assets/main_intro_3.png">
<h4>A quality finish requires a thorough process.</h4>
<p>We renovate, design and remodel kitchens, bathrooms, as well as total interiors for homes, townhomes and condominiums.  Click to find out more about how we do it!</p>
</div>
</div>

<hr>

<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" src="/assets/profile_shot.jpg">

</div>
<div class="medium-6 columns medium-pull-6">
<h2>A Quality Renovation Starts with a Reliable Contractor...</h2>
<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>
</div>
</div>


<div class="callout large">
<div class="row column text-center">
<h1>Communicate with us today!</h1>
<p class="lead">Call or Leave Us a Message!</p>
<a href="#" class="button large">Call Now</a>
<a href="#" class="button large hollow">Write to Us</a>
</div>
</div>