<div class="row">
<div class="large-12 columns">
<div class="medium-6 columns">
<h2>Our Approach</h2>
<p class="subheader"> At CM Suby, we understand that redesigning a home can be stressful to your daily routine. Your home is important to you and we take all the necessary precautions to ensure a successful project.</p>

</div>

<div class="medium-6 columns">
  <h2>Typical Bathroom Work Schedule</h2>
    <div class="single-item">
      <div>Apply for all necessary permits</div>
      <div>Protect the house</div>
      <div>Gut and remove material off premises</div>
      <div>Rebuild area according to blueprints/drawings</div>
      <div>Rough electrical or electrical upgrades, if necessary</div>
      <div>Set up rough inspections for plumbing, building and electrical</div>
      <div>Insulation upgrade/insulation inspection</div>
      <div>Sheetrock/tape/spackle (3 coats)</div>
      <div>Tile installation/grout</div>
      <div>Trim work /trim out fixtures plumbing/electrical</div>
      <div>Final measurements for shower or tub door</div>
      <div>When completed final inspections scheduled (plumbing-building-electrical)</div>
    </div>
</div>

</div>
</div>


<div class="row">
<div class="large-12 columns">
<hr>
<h2>Quality</h2>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come. Look below for the products we use to see some of your options.</p>

<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
        <li><img src="/images/brand1.png"></li>
        <li><img src="/images/brand2.png"></li>
        <li><img src="/images/brand3.png"></li>
        <li><img src="/images/brand4.png"></li>
        <li><img src="/images/brand5.png"></li>
        <li><img src="/images/brand6.png"></li>
</ul>

</div>
<div>

<hr>