<div class="row">
<div class="medium-6 columns">
<h2>Our Approach</h2>
<p class="subheader"> At CM Suby, we understand that redesigning a home can be stressful to your daily routine. Your home is important to you and we take all the necessary precautions to ensure a successful project.</p>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Click Here for a Typical Bathroom Remodel Approach</a>
    <div id="panel1a" class="content">
 <h3>This is a Typical Work Schedule for a Bathroom Remodeling Project...</h3>
        <hr>
          <p>Apply for all necessary permits</p>
          <p>Protect the house</p>
          <p>Gut and remove material off premises</p>
          <p>Rebuild area according to blueprints/drawings</p>
          <p>Rough electrical or electrical upgrades, if necessary</p>
          <p>Rough plumbing</p>
          <p>Set up rough inspections for plumbing, building and electrical</p>
          <p>Insulation upgrade/insulation inspection</p>
          <p>Sheetrock/tape/spackle (3 coats)</p>
          <p>Tile installation/grout</p>
          <p>Trim work /trim out fixtures plumbing/electrical</p>
          <p>Final measurements for shower or tub door</p>
          <p>When completed final inspections scheduled (plumbing-building-electrical)</p>
    </div>
  </li>
</ul>

</ul>
</div>
<hr class="show-for-small-only"></hr>
<div class="medium-6 columns">
<h2>Quality</h2>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come.  At CM Suby, we want to ensure that you are making the most of your investment. Click below for the products we use to see some of your options.</p>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel2a">Products We Used</a>
    <div id="panel2a" class="content">
        <%= render 'galleries/products' %>
    </div>
  </li>
</ul>

</div>

<hr>