<div class="row">
<div class="medium-6 columns">
<h2>Our Approach</h2>
<p class="subheader"> At CM Suby, we understand that redesigning a home can be stressful to your daily routine. Your home is important to you and we take all the necessary precautions to ensure a successful project.</p>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Click Here for a Typical Bathroom Remodel Approach</a>
    <div id="panel1a" class="content">
 <h3>This is a Typical Work Schedule for a Bathroom Remodeling Project...</h3>
        <hr>
          <p>Apply for all necessary permits</p>
          <p>Protect the house</p>
          <p>Gut and remove material off premises</p>
          <p>Rebuild area according to blueprints/drawings</p>
          <p>Rough electrical or electrical upgrades, if necessary</p>
          <p>Rough plumbing</p>
          <p>Set up rough inspections for plumbing, building and electrical</p>
          <p>Insulation upgrade/insulation inspection</p>
          <p>Sheetrock/tape/spackle (3 coats)</p>
          <p>Tile installation/grout</p>
          <p>Trim work /trim out fixtures plumbing/electrical</p>
          <p>Final measurements for shower or tub door</p>
          <p>When completed final inspections scheduled (plumbing-building-electrical)</p>
    </div>
  </li>
</ul>

</ul>
</div>

<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <h2>Apply for all necessary permits</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h2>Protect the house</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
</ul>


<!-- <hr class="show-for-small-only"></hr>
<div class="medium-6 columns">
<h2>Quality</h2>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come.  At CM Suby, we want to ensure that you are making the most of your investment. Click below for the products we use to see some of your options.</p> -->

<!-- <ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel2a">Click Here to See the Products We Use</a>
    <div id="panel2a" class="content">
        <%= render 'galleries/products' %>
    </div>
  </li>
</ul>

</div>

<div class="space"></div>
 -->

<hr>

<div class="row">
<div class="large-12 columns">
<h2>Quality</h2>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come. Look below for the products we use to see some of your options.</p>

<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
        <li><img src="/images/brand1.png"></li>
        <li><img src="/images/brand2.png"></li>
        <li><img src="/images/brand3.png"></li>
        <li><img src="/images/brand4.png"></li>
        <li><img src="/images/brand5.png"></li>
        <li><img src="/images/brand6.png"></li>
</ul>

</div>
<div>

<hr>

 <section id="contact-footer" class="black-block">
    <ul>
        <li>Bethesda <span class="mm-phone-number">301-229-4600</span></li>
        <li>Washington DC <span class="mm-phone-number">202-556-2273</span></li>
        <li>Falls Church <span class="mm-phone-number">703-241-2980</span></li>
    <li><a href="/schedule-a-conversation/" scroll-to="schedule" class="schedule-btn">Schedule a Conversation</a></li>
    </ul>
</section>

<footer class="row">
<div class="large-12 columns">
<hr>
<div class="row">
<div class="large-6 columns">
<p>©Jason Wang and Phil Sofia</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li>1-973-951-5570</li>
<li>
<a href="#">cmsuby@gmail.com</a>
</li>
<li>
<a href="#">Morristown, NJ</a>
</li>
<li>
<%= link_to "Write", contact_path, class: "button secondary small" %>
</li>
</ul>
</div>
</div>
</div>
</footer>