<div class="row">
<div class="large-12 columns">

<h2>Testimonials</h2>
<p class="subheader"> At CM Suby, we take pride in client satisfaction. Take a look at what some of them have said.</p>

<hr>

<div id='container1' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/shower_before.png"/>
  <img alt="Sample after" src="/images/shower_after.png"/>
</div>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Raymond - West Orange, NJ</a>
    <div id="panel1a" class="content">
     <p>I have been using Mr. Suby for renovations for about 10 years and have been extremely pleased with all of his projects. These projects have included renovating bathrooms and kitchens, creating a bathroom from scratch, painting and lighting design/installation in several rooms, and finishing a basement. The overarching theme when working with Mr. Suby is quality and it is evident in all aspects of his work.</p>
     <p>Besides a quality finished product, the overall experience is also of high quality. The workers are punctual and polite. The estimates as far as when work will be started and completed have been accurate in my experience except in instances of a permit taking longer than expected to attain (not his fault).</p>
     <p>His pricing estimates are generally accurate as well assuming your specifications for the project does not change along the way. This was a big plus for me initially after having a bad experience with a contractor who charged me a lot more than originally quoted for a project whose scope did not change along the way. CM Suby has consistently delivered top quality work in all of the projects I have hired them for and I will continue to use them for all of my home projects and renovations.</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4>Raymond - West Orange, NJ</h4>
    <p>I have been using Mr. Suby for renovations for about 10 years and have been extremely pleased with all of his projects. These projects have included renovating bathrooms and kitchens, creating a bathroom from scratch, painting and lighting design/installation in several rooms, and finishing a basement. The overarching theme when working with Mr. Suby is quality and it is evident in all aspects of his work.</p>
     <p>Besides a quality finished product, the overall experience is also of high quality. The workers are punctual and polite. The estimates as far as when work will be started and completed have been accurate in my experience except in instances of a permit taking longer than expected to attain (not his fault).</p>
     <p>His pricing estimates are generally accurate as well assuming your specifications for the project does not change along the way. This was a big plus for me initially after having a bad experience with a contractor who charged me a lot more than originally quoted for a project whose scope did not change along the way. CM Suby has consistently delivered top quality work in all of the projects I have hired them for and I will continue to use them for all of my home projects and renovations.</p>
</div>

<hr>

<div id='container2' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/bathroom_before.png"/>
  <img alt="Sample after" src="/images/bathroom_after.png"/>
</div>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel2a">Judith - West Orange, NJ</a>
    <div id="panel2a" class="content">
   <p>Thanks to C.M. Suby my bathroom has now become the room most talked about in my home, the renovation of my bathroom was completed on TIME, efficiently, and most of all its beautiful.</p>

<p>The craftsmanship of the installation done to complete my bathroom is exquisite. C.M. Suby respects their custumers; I was treated with courtesy and upmost respect, whenever I asked questions they were answered, calls were allways returned in a respectful time frame. I must also add the employees were equally professional and well mannered.</p>

<p>In today's time the professionalism and accountability that was displayed by C.M.Suby while renovating my bathroom is difficult to find, that's why I will keep in mind C.M. Suby for any other renovation in my house.</p>

<p>Thank you C.M. Suby!</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4>Judith - West Orange, NJ</h4>
      <p>Thanks to C.M. Suby my bathroom has now become the room most talked about in my home, the renovation of my bathroom was completed on TIME, efficiently, and most of all its beautiful.</p>

<p>The craftsmanship of the installation done to complete my bathroom is exquisite. C.M. Suby respects their custumers; I was treated with courtesy and upmost respect, whenever I asked questions they were answered, calls were allways returned in a respectful time frame. I must also add the employees were equally professional and well mannered.</p>

<p>In today's time the professionalism and accountability that was displayed by C.M.Suby while renovating my bathroom is difficult to find, that's why I will keep in mind C.M. Suby for any other renovation in my house.</p>

<p>Thank you C.M. Suby!</p>

</div>

<hr>

<div id='container3' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/kitchen_before.png"/>
  <img alt="Sample after" src="/images/kitchen_after.png"/>
</div>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel3a">John & Joanne Sullivan - Morristown, NJ</a>
    <div id="panel3a" class="content">
   <p>Morgan and team recently remodeled our kitchen and master bath. The pictures speak for themselves, but the end result is one we proudly show off to family and friends.  We were so impressed with the team's quality of work that we hired C.M. Suby to do a number of additional projects in our home. Morgan is fair, reliable and trustworthy. The workers were always punctual and polite and we became very comfortable having them in our home. We were particularly impressed with their craftsmanship and attention to detail; it was comforting knowing that they wouldn't cut corners and that we could trust the tasteful aesthetic and perfectionist quality of their work. We will be using Morgan again for future projects and recommend him without reservation.</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4> John & Joanne Sullivan - Morristown, NJ</h4>
     <p>Morgan and team recently remodeled our kitchen and master bath. The pictures speak for themselves, but the end result is one we proudly show off to family and friends.  We were so impressed with the team's quality of work that we hired C.M. Suby to do a number of additional projects in our home. Morgan is fair, reliable and trustworthy. The workers were always punctual and polite and we became very comfortable having them in our home. We were particularly impressed with their craftsmanship and attention to detail; it was comforting knowing that they wouldn't cut corners and that we could trust the tasteful aesthetic and perfectionist quality of their work. We will be using Morgan again for future projects and recommend him without reservation.</p>

</div>

<hr>

<div id='container4' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/sample-before.jpg"/>
  <img alt="Sample after" src="/images/sample-after.jpg"/>
</div>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel4a">Amy & Alan Stuart</a>
    <div id="panel4a" class="content">
   <p>Morgan Suby recently renovated our master bath. He and his crew were meticulous with every detail. The crew kept the area incredibly clean and the work went off without a hitch. We highly recommend him and will look to him for any future renovations. His level of professionalism and understanding of products was second to none. It is never fun living through remodeling but Morgan and his crew made it manageable.</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4>Amy & Alan Stuart</h4>
     <p>Morgan Suby recently renovated our master bath. He and his crew were meticulous with every detail. The crew kept the area incredibly clean and the work went off without a hitch. We highly recommend him and will look to him for any future renovations. His level of professionalism and understanding of products was second to none. It is never fun living through remodeling but Morgan and his crew made it manageable.</p>

</div>

<hr>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel5a">David - New Province, NJ</a>
    <div id="panel5a" class="content">
     <p>I have used C.M.Suby ("Morgan") for two separate bathroom renovation projects and have been very pleased with both the experience and the results for a number of reasons.  First and foremost, I was extremely impressed with Morgan's concern for quality and his attention to detail.  One of the reasons that my bathrooms turned out so well is that everything was carefully and properly installed.  Others have commented favorably to me on the appearance of my bathrooms and want to know who did such nice work. </p>
     <p>I was also impressed by the courtesy, respect, and professionalism that Morgan and his crew exhibited.  Morgan always returned phone calls, showed up on time, etc.   I appreciate the fact that the work on my projects was essentially completed on consecutive days.  I would happily trust Morgan again with another renovation project!</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4>David - New Province, NJ</h4>
     <p>I have used C.M.Suby ("Morgan") for two separate bathroom renovation projects and have been very pleased with both the experience and the results for a number of reasons.  First and foremost, I was extremely impressed with Morgan's concern for quality and his attention to detail.  One of the reasons that my bathrooms turned out so well is that everything was carefully and properly installed.  Others have commented favorably to me on the appearance of my bathrooms and want to know who did such nice work. </p>
     <p>I was also impressed by the courtesy, respect, and professionalism that Morgan and his crew exhibited.  Morgan always returned phone calls, showed up on time, etc.   I appreciate the fact that the work on my projects was essentially completed on consecutive days.  I would happily trust Morgan again with another renovation project!</p>
</div>

<hr>

<div class="show-for-small-only">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel6a">Rita - New Province, NJ</a>
    <div id="panel6a" class="content">
     <p>Thank you so much for the great job you did on both of my bathrooms!</p>
      </div>
  </li>
</ul>
</div>

<div class="show-for-medium-up">
<h4>Rita - New Province, NJ</h4>
     <p>Thank you so much for the great job you did on both of my bathrooms!</p>
</div>

<hr>

</div>
</div>
