
<h2>Testimonials</h2>
<p class="subheader"> At CM Suby, we take pride in client satisfaction. Take a look at what some of them have said.</p>



<div id='container1' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/sample-before.jpg"/>
  <img alt="Sample after" src="/images/sample-after.jpg"/>
</div>


<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Amy & Alan Stuart</a>
    <div id="panel1a" class="content">
   <p>Morgan Suby recently renovated our master bath. He and his crew were meticulous with every detail. The crew kept the area incredibly clean and the work went off without a hitch. We highly recommend him and will look to him for any future renovations. His level of professionalism and understanding of products was second to none. It is never fun living through remodeling but Morgan and his crew made it manageable.</p>
      </div>
    </div>
  </li>
</ul>

<hr>

<div id='container2' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/glasses_before.jpg"/>
  <img alt="Sample after" src="/images/glasses_after.jpg"/>
</div>

<hr>

