<div class="row">
<div class="large-12 columns">
<h3>Bathroom</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="/images/bathroom/bathroom_03.jpg"><img data-caption="Orange, NJ" src="/images/bathroom/bathroom_03_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_04.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_04_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_05.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_05_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_06.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_06_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_07.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_07_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_08.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_08_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_09.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_09_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_10.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_10_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_11.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_11_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_13.jpg"><img data-caption="Springfield, NJ" src="/images/bathroom/bathroom_13_thumbnail.png"></a>
</li>

<li>
<a href="/images/bathroom/bathroom_14.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_14_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_15.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_15_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_16.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_16_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_17.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_17_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_19.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_19_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_20.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_20_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_18.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_18_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_21.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_21_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_22.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_22_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_23.jpg"><img data-caption="Neshanic Station, NJ" src="/images/bathroom/bathroom_23_thumbnail.png"></a>
</li>
<li>
<a href="images/other/powder_01.jpg">
<img data-caption="Powder Room - Watchung, NJ" src="images/other/powder_01_thumbnail.png"></a>
</li>

</ul>
</div>
</div>