<div class="row">
<div class="large-12 columns">
<h3>Bathroom</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="/images/bathroom/bathroom_01.jpg">
<img data-caption="Warren, NJ" src="/images/bathroom/bathroom_01_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_02.jpg"><img data-caption="Warren, NJ" src="/images/bathroom/bathroom_02_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_03.jpg"><img data-caption="Orange, NJ" src="/images/bathroom/bathroom_03_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_04.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_04_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_05.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_05_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_06.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_06_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_07.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_07_thumbnail.png"></a>
</li>
<li>
<a href="/images/bathroom/bathroom_08.jpg"><img data-caption="Basking Ridge, NJ" src="/images/bathroom/bathroom_08_thumbnail.png"></a>
</li>
</ul>
</div>
</div>