<div class="row">
<div class="large-12 columns">
<h3>Installation</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="images/installation/installation_01.jpg">
<img data-caption="Watchung, NJ" src="images/installation/installation_01_thumbnail.png"></a>
</li>
</ul>
</div>
</div>