<div class="row">
<div class="large-12 columns">
<h3>Kitchen</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>

<li>
<a href="images/kitchen/orange/kitchen_01.jpg">
<img data-caption="Orange, NJ" src="images/kitchen/orange/kitchen_01_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/morristown/kitchen_01.jpg">
<img data-caption="Morristown, NJ" src="images/kitchen/morristown/kitchen_01_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/morristown/kitchen_02.jpg">
<img data-caption="Morristown, NJ" src="images/kitchen/morristown/kitchen_02_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/watchung/kitchen_01.jpg">
<img data-caption="Watchung, NJ" src="images/kitchen/watchung/kitchen_01_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/westorange/kitchen_01.jpg">
<img data-caption="West Orange, NJ" src="images/kitchen/westorange/kitchen_01_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/westorange/kitchen_02.jpg">
<img data-caption="West Orange, NJ" src="images/kitchen/westorange/kitchen_02_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/westorange/kitchen_03.jpg">
<img data-caption="West Orange, NJ" src="images/kitchen/westorange/kitchen_03_thumb.png"></a>
</li>


</ul>
</div>
</div>
