<div class="row">
<div class="large-12 columns">
<h3>Kitchen</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="images/kitchen/kitchen_01.png">
<img data-caption="Watchung, NJ" src="images/kitchen/kitchen_01_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/kitchen_02.jpg">
<img data-caption="Morristown, NJ" src="images/kitchen/kitchen_02_thumb.png"></a>
</li>

<li>
<a href="images/kitchen/kitchen_03.jpg">
<img data-caption="Morristown, NJ" src="images/kitchen/kitchen_03_thumb.png"></a>
</li>


</ul>
</div>
</div>
