<div class="row">
<div class="large-12 columns">
<h3>Laundry Room</h3>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="images/laundry/springfield/laundry_01.jpg">
<img data-caption="Springfield, NJ" src="images/laundry/springfield/laundry_01_thumbnail.png"></a>
</li>
<li>
<a href="images/laundry/morristown/laundry_01.jpg">
<img data-caption="Morristown, NJ" src="images/laundry/morristown/laundry_01_thumbnail.png"></a>
</li>
</ul>
</div>
</div>