<div class="row">
<div class="large-12 columns">
<h3>Other</h3>

<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>

<li>
<a href="images/installation/installation_01.jpg">
<img data-caption="Watchung, NJ" src="images/installation/installation_01_thumbnail.png"></a>
</li>


<li>
<a href="images/other/foyer_01.jpg">
<img data-caption="Foyer - Watchung, NJ" src="images/other/foyer_01_thumbnail.png"></a>
</li>
<li>
<a href="images/other/living_01.jpg">
<img data-caption="Living Room - Orange, NJ" src="images/other/living_01_thumbnail.png"></a>
</li>
<li>
<a href="images/other/living_02.jpg">
<img data-caption="Living Room - Watchung, NJ" src="images/other/living_02_thumbnail.png"></a>
</li>


<li>
<a href="images/other/living_03.jpg">
<img data-caption="Morristown, NJ" src="images/other/living_03_thumbnail.png"></a>
</li>

</ul>
</div>
</div>