
<div class="row column">
<p class="lead">Products We Use</p>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come.  At CM Suby, we want to ensure that you are making the most of your investment.  Take a look at the products we use to see some of your options.</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
<div class="column">
<div class="callout">
<p><img src="/assets/brand1.png"></p>
<p class="lead">LACAVA</p>
<p class="subheader">Link</p>
</div>
</div>
<div class="column">
<div class="callout">
<p><img src="/assets/brand2.png"></p>
<p class="lead">GESSI</p>
<p class="subheader">Link</p>
</div>
</div>
<div class="column">
<div class="callout">
<p><img src="/assets/brand3.png"></p>
<p class="lead">KOHLER</p>
<p class="subheader">Link</p>
</div>
</div>
<div class="column">
<div class="callout">
<p><img src="/assets/brand4.png"></p>
<p class="lead">AXOR</p>
<p class="subheader">Link</p>
</div>
</div>
<div class="column">
<div class="callout">
<p><img src="/assets/brand5.png"></p>
<p class="lead">BainUltra</p>
<p class="subheader">Link</p>
</div>
</div>
<div class="column">
<div class="callout">
<p><img src="/assets/brand6.png"></p>
<p class="lead">BIRDSALL  </p>
<p class="subheader">Link</p>
</div>
</div>
</div>