<div class="top-bar-container" data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%=link_to "CM SUBY", root_path%></li>
              <li><%=link_to "DESIGNS", designs_path%></li>
              <li><%=link_to "TESTIMONIALS", testimonials_path %></li>
              <li><%=link_to "CONTACT", contact_path %></li>
          </ul>
      </div>
    </div>
  </div>
</div>